<p id="notice"><%= notice %></p>

<h2>Lista de Libros</h2>

<div class="row">
  <div class="col-sm-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Categoría</th>
          <th scope="col">Año</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= book.title %></td>
            <td><%= book.category %></td>
            <td><%= book.year %></td>
            <td><%= link_to 'Mostrar', book %></td>
            <td><%= link_to 'Editar', edit_book_path(book) %></td>
            <td><%= link_to 'Eliminar', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        <tr>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'Nuevo Libro', new_book_path, class: 'btn btn-sm btn-outline-primary'  %>
